# Environment
venv/
env/
ENV/
.venv/
.venv1/
*.env

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# OS
.DS_Store
Thumbs.db
*.swp

